---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation/>
		<h1>Astro</h1>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam natus iste ut quaerat odio explicabo optio molestias omnis veniam laborum sint fugiat nobis numquam molestiae harum consectetur itaque, dolore provident dicta aspernatur vero. Similique incidunt vel atque delectus ratione itaque.</p>

		<main> 
			<Button variant="primary" size="small">TEXT</Button>
			<Button variant="secondary" size="medium">TEXT</Button>
			<Button variant="secondary" size="large">TEXT</Button>


			<!--
			<Card header="Hej Verden" text="Lorem ipsum dollar" test="Klik"/>
			<Card header="Hej Hold A" text="Lorem ipsum dollar" test="Klik"/>
			<Card header="Hej Hold B" text="Lorem ipsum dollar" test="Klik"/>
			 -->


			 <!--
			 <Card header="Hej Verden">
				<img src="/hus.png" alt="hus"/>
				<button>Klik her</button>
			</Card>

			<Card header="Hej Verden">
				<button>Klik her</button>
				<img src="/hus.png" alt="hus"/>
			</Card>
			-->

		</main>
	</body>
</html>
